*{
  margin:0;
  padding:0;
}

html,body
{
  width:100%;
  height:100%;
}
canvas {
  display:block;
}
.ball {
  border-radius: 25px;
}
#tunneltb{
  background-color:Black;
}
#tunneltb td{
  width:40px;
  height:40px;
}
#score {
  position:fixed;
  top:50px;
  left:100px;
  opacity: 0.5;
  font-size:5pt;
  text-align:right;
  color:White;
  z-index:100;
  width:100px;
  height:100px;
}
