*{
  margin:0;
  padding:0;
}

html,body
{
  width:100%;
  height:100%;
}
canvas {
  display:block;
}
.ball {
  border-radius: 25px;
}

#intro {
  width:100%;
  height:100%;
  background-color: Black;
  text-align:center;
}
#start {
  font:30px Impact;
}
#gameover {
  width:100%;
  height:100%;
  background-color: Black;
  text-align:center;
}
#help{
  color:White;
  font-family:monospace;
}
#tunneltb{
  background-color:Black;
}
#tunneltb td{
  width:40px;
  height:40px;
}
#score {
  font-family: monospace;
  color: White;
  width:100%;
}
#tweet {
  width:20%;
  height:20%;
}
#restart {
  width:20%;
  height:20%;
}
.col{
  width:50%;
  float:left;
}
