<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kkm.slideblox"
        versionCode = "1.2" 
        version     = "1.0.2" >

    <name>Slide Blox Game</name>

    <description>
        Breakout-like game where you slide the blocks; no paddle
    </description>

    <author href="https://build.phonegap.com" email="krishnakumarm777@gmail.com">
        Krishnakumar Muraleedharan
    </author>
    <icon src="icons/mdpi.png" />
<icon src="icons/mdpi.png" platform="android" qualifier="mdpi" />
<icon src="icons/hdpi.png" platform="android" qualifier="hdpi" />
<icon src="icons/xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="icons/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
    <platform name="android" >
  <preference name="orientation" value="portrait" />
</platform>

</widget>
