<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kkm.slideblox"
        versionCode = "1" 
        version     = "1.0.0" >

    <name>Slide Blox Game</name>

    <description>
        Breakout-like game where you slide the blocks; no paddle
    </description>

    <author href="https://build.phonegap.com" email="krishnakumarm777@gmail.com">
        Krishnakumar Muraleedharan
    </author>
    <icon src="icon.png" />
    <icon src="ldpi.png" platform="android" qualifier="ldpi" />
<icon src="mdpi.png" platform="android" qualifier="mdpi" />
<icon src="hdpi.png" platform="android" qualifier="hdpi" />
<icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />
    <platform name="android" >
  <preference name="orientation" value="portrait" />
</platform>

</widget>
